/* GERAL */
html, body, header, h1, main, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-top: 30px;
    text-align: center;
}

/* HEADER */
header {
    text-align: center;
}
    header h1 {
        font-size: 35px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

/* MAIN */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    main .torre {
        width: 12px;
        height: 100px;
        margin: 20px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: #000;    
    }
    main .torre .bloco {
        height: 20px;
        border-radius: 5px;
        border: 2px solid #000;
    }
        main .torre #bloco1 {
            width: 50px;
            background-color: #4576b5;
        }
        main .torre #bloco2 {
            width: 70px;
            background-color: #755998;
        }
        main .torre #bloco3 {
            width: 90px;
            background-color: #91b24f;
        }
        main .torre #bloco4 {
            width: 110px;
            background-color: #b84644;
        }

/* BUTTONS */
button {
    border: none;
    padding: 10px 30px;
}
    button:hover {
        cursor: pointer;
    }
#btn-start {
    vertical-align: middle;
}

#btn-restart {
    display: none;
}

#msg {
    position: absolute;
    transform: translate(50%, 50%);
    right: 50%;
    top: -10%;
    font-weight: 600;
    font-size: 2.5rem;
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
    .container{
        padding-top: 30px;
    }
    
    /* HEADER */
    header {
        text-align: center;
    }
        header h1 {
            font-size: 50px;
            text-transform: uppercase;
        }
    
    /* MAIN */
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        main .torre {
            width: 12px;
            height: 215px;
            margin: 100px; 
        }
        main .torre .bloco {
            height: 35px;
        }
            main .torre #bloco1 {
                width: 65px;
                background-color: #4576b5;
            }
            main .torre #bloco2 {
                width: 100px;
                background-color: #755998;
            }
            main .torre #bloco3 {
                width: 135px;
                background-color: #91b24f;
            }
            main .torre #bloco4 {
                width: 170px;
                background-color: #b84644;
            }
}